[uwsgi]
emperor = /nginx/wsgi/*/<%= @env %>.ini

socket = /run/uwsgi/uwsgi.socket
chmod-socket = 770
chown-socket = <%= @username %>:nginx

master = true

harakiri = 60
harakiri-verbose = true
limit-post = 65536
post-buffering = 8192

pidfile = /run/uwsgi/uwsgi.pid

listen = 256 

max-requests = 1000

reload-on-as = 128 
reload-on-rss = 96
no-orphans = true

log-slow = true

uid = <%= @username %>
gid = <%= @username %>
